<% if logged_in? %>
    <%= link_to 'Talk some trash anonymously', new_post_path %>
    <%= link_to 'Sign out', logout_path, method: :delete %>
<% end %>
<ul>
  <% @posts.each do |post| %>
      <li>
        <%= post.body %>
      </li>
      <% if logged_in? %>
          <li>
            <%= post.user.name %>
          </li>
      <% end %>
  <% end %>
</ul>

